<a href="https://colab.research.google.com/github/Aayush360/data_science/blob/master/logistic_regression_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#description: Using logistic regression.

In [0]:
#import the dependencies
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
#upload the file using colab
from google.colab import files
uploaded = files.upload()

Saving HR_comma_sep.csv to HR_comma_sep.csv

In [0]:
df = pd.read_csv('HR_comma_sep.csv')
df

       satisfaction_level  last_evaluation  ...  Department  salary
0                    0.38             0.53  ...       sales     low
1                    0.80             0.86  ...       sales  medium
2                    0.11             0.88  ...       sales  medium
3                    0.72             0.87  ...       sales     low
4                    0.37             0.52  ...       sales     low
...                   ...              ...  ...         ...     ...
14994                0.40             0.57  ...     support     low
14995                0.37             0.48  ...     support     low
14996                0.37             0.53  ...     support     low
14997                0.11             0.96  ...     support     low
14998                0.37             0.52  ...     support     low

[14999 rows x 10 columns]

In [0]:
#converting salary into dummy
dummies = pd.get_dummies(df.salary)
dummies

       high  low  medium
0         0    1       0
1         0    0       1
2         0    0       1
3         0    1       0
4         0    1       0
...     ...  ...     ...
14994     0    1       0
14995     0    1       0
14996     0    1       0
14997     0    1       0
14998     0    1       0

[14999 rows x 3 columns]

In [26]:
#drop the salary column

final_df = df.drop(['salary','medium'],axis=1)
final_df

       satisfaction_level  last_evaluation  number_project  ...  low  high  low
0                    0.38             0.53               2  ...    1     0    1
1                    0.80             0.86               5  ...    0     0    0
2                    0.11             0.88               7  ...    0     0    0
3                    0.72             0.87               5  ...    1     0    1
4                    0.37             0.52               2  ...    1     0    1
...                   ...              ...             ...  ...  ...   ...  ...
14994                0.40             0.57               2  ...    1     0    1
14995                0.37             0.48               2  ...    1     0    1
14996                0.37             0.53               2  ...    1     0    1
14997                0.11             0.96               6  ...    1     0    1
14998                0.37             0.52               2  ...    1     0    1

[14999 rows x 13 columns]

In [0]:
#import the model 
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [0]:
#split the data into training and testing

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(final_df[['satisfaction_level','high','low']],final_df.left, test_size=0.2)

In [28]:
#train the model
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:
#predict using the trained model

model.predict(X_test)

array([0, 0, 0, ..., 0, 1, 0])

In [30]:
y_test

10845    0
12618    1
11609    0
7911     0
7020     0
        ..
6488     0
7668     0
10917    0
1494     1
4675     0
Name: left, Length: 3000, dtype: int64

In [31]:
model.score(X_test,y_test)

0.7773333333333333

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_base.py:268: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')

UFuncTypeError: ignored