In [1]:
import numpy as np
import pandas as pd
from pandas.tseries.offsets import MonthEnd

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### 1. Get Minimum And Maximum Date From Transaction Base

In [3]:
# creating dummy data

In [4]:
tran_id1 = pd.Series(np.arange(29)).astype(int)
account_number1 = pd.Series(['abc']*29)
date1 = pd.Series(['2020-10-26','2020-10-27','2020-11-03','2020-12-05','2020-12-15','2021-01-01','2021-01-02','2021-01-3','2021-1-30','2021-02-04','2021-02-04','2021-02-05','2021-02-08','2021-02-11','2021-03-04','2021-04-01',"2021-04-04","2021-04-30","2021-05-03","2021-06-05","2021-06-08","2021-06-30","2021-07-07","2021-07-15","2021-08-03","2021-09-09","2021-09-10",'2021-09-12',"2021-10-09"])
is_salary1 = pd.Series([0, 0,0,0,0,1, 0, 0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0])
amount1 = pd.Series([9500, 9500,8500,9500,10000,11000,12000,200,11000,11000,11500,11000,110,16000,17500,17000,30000,18700,18000,17000,500,18000,17800,30000,120,18000,17800,18000,600000])

In [5]:
tran_id2 = pd.Series(np.arange(27,53,1)).astype(int)
account_number2 = pd.Series(['xyz']*26)
date2 = pd.Series(['2020-11-27','2020-11-03','2020-12-05','2020-12-15','2021-01-01','2021-01-02','2021-01-3','2021-1-30','2021-02-04','2021-02-04','2021-02-05','2021-02-08','2021-02-11','2021-03-04','2021-04-01',"2021-04-04","2021-04-30","2021-05-03","2021-06-05","2021-06-08","2021-06-30","2021-07-07","2021-07-15","2021-08-03","2021-09-09","2021-10-09"])
is_salary2 = pd.Series([0,0,0,0,1, 0, 0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0])
amount2 = pd.Series([5500,7500,9500,10000,11000,12000,200,11000,11000,11500,11000,110,16000,17500,17000,30000,18700,18000,17000,500,18000,17800,30000,120,18000,600000])

In [6]:
df1 = pd.concat([tran_id1,account_number1,date1,is_salary1,amount1],axis=1)
df2 = pd.concat([tran_id2,account_number2,date2,is_salary2,amount2],axis=1)

In [7]:
df = pd.concat([df1,df2])

In [8]:
df.columns = df.columns = ['tran_id','account_number','tran_date','is_salary','amount']

In [9]:
df

    tran_id account_number   tran_date  is_salary  amount
0         0            abc  2020-10-26          0    9500
1         1            abc  2020-10-27          0    9500
2         2            abc  2020-11-03          0    8500
3         3            abc  2020-12-05          0    9500
4         4            abc  2020-12-15          0   10000
5         5            abc  2021-01-01          1   11000
6         6            abc  2021-01-02          0   12000
7         7            abc   2021-01-3          0     200
8         8            abc   2021-1-30          0   11000
9         9            abc  2021-02-04          0   11000
10       10            abc  2021-02-04          0   11500
11       11            abc  2021-02-05          0   11000
12       12            abc  2021-02-08          0     110
13       13            abc  2021-02-11          0   16000
14       14            abc  2021-03-04          1   17500
15       15            abc  2021-04-01          0   17000
16       16            abc  2021-04-04          0   30000
17       17            abc  2021-04-30          0   18700
18       18            abc  2021-05-03          1   18000
19       19            abc  2021-06-05          0   17000
20       20            abc  2021-06-08          0     500
21       21            abc  2021-06-30          0   18000
22       22            abc  2021-07-07          0   17800
23       23            abc  2021-07-15          0   30000
24       24            abc  2021-08-03          0     120
25       25            abc  2021-09-09          0   18000
26       26            abc  2021-09-10          0   17800
27       27            abc  2021-09-12          0   18000
28       28            abc  2021-10-09          0  600000
0        27            xyz  2020-11-27          0    5500
1        28            xyz  2020-11-03          0    7500
2        29            xyz  2020-12-05          0    9500
3        30            xyz  2020-12-15          0   10000
4        31            xyz  2021-01-01          1   11000
5        32            xyz  2021-01-02          0   12000
6        33            xyz   2021-01-3          0     200
7        34            xyz   2021-1-30          0   11000
8        35            xyz  2021-02-04          0   11000
9        36            xyz  2021-02-04          0   11500
10       37            xyz  2021-02-05          0   11000
11       38            xyz  2021-02-08          0     110
12       39            xyz  2021-02-11          0   16000
13       40            xyz  2021-03-04          1   17500
14       41            xyz  2021-04-01          0   17000
15       42            xyz  2021-04-04          0   30000
16       43            xyz  2021-04-30          0   18700
17       44            xyz  2021-05-03          1   18000
18       45            xyz  2021-06-05          0   17000
19       46            xyz  2021-06-08          0     500
20       47            xyz  2021-06-30          0   18000
21       48            xyz  2021-07-07          0   17800
22       49            xyz  2021-07-15          0   30000
23       50            xyz  2021-08-03          0     120
24       51            xyz  2021-09-09          0   18000
25       52            xyz  2021-10-09          0  600000

In [10]:
# converting tran_date to datetime

In [11]:
df['tran_date'] = pd.to_datetime(df['tran_date'])

In [12]:
max_tran_date = df.tran_date.max()
min_tran_date = df.tran_date.min()
print('max tran date is: ',max_tran_date)
print('min tran date is: ',min_tran_date)

max tran date is:  2021-10-09 00:00:00
min tran date is:  2020-10-26 00:00:00

In [13]:
# find month start for each tran_date

df['month_start'] = df['tran_date'].apply(lambda x: x.replace(day=1))

In [14]:
df.head()

   tran_id account_number  tran_date  is_salary  amount month_start
0        0            abc 2020-10-26          0    9500  2020-10-01
1        1            abc 2020-10-27          0    9500  2020-10-01
2        2            abc 2020-11-03          0    8500  2020-11-01
3        3            abc 2020-12-05          0    9500  2020-12-01
4        4            abc 2020-12-15          0   10000  2020-12-01

### 2. Get Flagged Salary Transaction For Each Account

In [15]:
sal_rec = df.loc[df.is_salary==1]
sal_rec.loc[:,'tran_date'] = pd.to_datetime(sal_rec.loc[:,'tran_date'])
sal_rec.loc[:,'day'] = sal_rec.loc[:,'tran_date'].dt.day
sal_rec.loc[:,'month_end'] = pd.to_datetime(sal_rec.loc[:,'tran_date'])+pd.offsets.MonthEnd(n=0)
# sal_rec['month_start'] = sal_rec['tran_date'].apply(lambda x: x.replace(day=1))

sal_rec.loc[:,'month_end_day'] = sal_rec.loc[:,'month_end'].dt.day
sal_rec.loc[:,'month'] = sal_rec.loc[:,'tran_date'].dt.month
sal_rec

/home/aayush/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/home/aayush/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

,tran_id,account_number,tran_date,is_salary,amount,month_start,day,month_end,month_end_day,month
5,5,abc,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1
14,14,abc,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3
18,18,abc,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5
4,31,xyz,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1
13,40,xyz,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3
17,44,xyz,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5

In [16]:
# also sort the transactions (optional)

In [17]:
sal_rec = sal_rec.sort_values(by=["account_number", "tran_date"],ascending=True)

In [18]:
sal_rec['forward_pass']=sal_rec.groupby(['account_number'])['tran_date'].shift(-1).fillna(max_tran_date)

sal_rec['backward_pass']=sal_rec.groupby(['account_number'])['tran_date'].shift(1).fillna(min_tran_date)

In [19]:
sal_rec.reset_index(drop=True)

,tran_id,account_number,tran_date,is_salary,amount,month_start,day,month_end,month_end_day,month,forward_pass,backward_pass
0,5,abc,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26
1,14,abc,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01
2,18,abc,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04
3,31,xyz,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26
4,40,xyz,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01
5,44,xyz,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04

In [20]:
# for forward pass go from tran_date to forward_pass
# for backward pass go from backward_pass to tran_date

In [21]:
# setting threshold for amount

sal_rec['min_amount_threshold_forward'] = 0.9 * sal_rec['amount'] # get from config
sal_rec['max_amount_threshold_forward'] = 1.3 * sal_rec['amount'] # get from config



sal_rec['min_amount_threshold_backward'] = 0.7 * sal_rec['amount'] # get from config
sal_rec['max_amount_threshold_backward'] = 1.1 * sal_rec['amount'] # get from config


# setting threshold for day range

sal_rec['constant_one']=1

sal_rec['min_day_window_forward'] = sal_rec['day'] -4 # get from config
sal_rec['max_day_window_forward'] = sal_rec['day'] +4# get from config



sal_rec['min_day_window_backward'] = sal_rec['day'] -4 # get from config
sal_rec['max_day_window_backward'] = sal_rec['day'] +4# get from config

sal_rec.reset_index(drop=True)

,tran_id,account_number,tran_date,is_salary,amount,month_start,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward
0,5,abc,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5
1,14,abc,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8
2,18,abc,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7
3,31,xyz,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5
4,40,xyz,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8
5,44,xyz,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7

In [22]:
sal_rec.reset_index(drop=True)

,tran_id,account_number,tran_date,is_salary,amount,month_start,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward
0,5,abc,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5
1,14,abc,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8
2,18,abc,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7
3,31,xyz,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5
4,40,xyz,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8
5,44,xyz,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7

In [23]:
# get min and max threshold for day

In [24]:

sal_rec['min_day_threshold_forward'] = sal_rec[['constant_one','min_day_window_forward']].max(axis=1)
sal_rec['max_day_threshold_forward'] = sal_rec[['max_day_window_forward','month_end_day']].min(axis=1)



sal_rec['min_day_threshold_backward'] = sal_rec[['constant_one','min_day_window_backward']].max(axis=1)
sal_rec['max_day_threshold_backward'] = sal_rec[['max_day_window_backward','month_end_day']].min(axis=1)

In [25]:
sal_rec = sal_rec.reset_index(drop=True)

In [26]:
sal_rec

,tran_id,account_number,tran_date,is_salary,amount,month_start,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward
0,5,abc,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5
1,14,abc,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8
2,18,abc,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7
3,31,xyz,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5
4,40,xyz,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8
5,44,xyz,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7

## Forward Pass

In [27]:
# get latest transaction date and amount for each account

In [28]:
max_tran_date_df = sal_rec.groupby(["account_number"]).agg(tran_date=('tran_date','max')).reset_index()
max_tran_date_df=sal_rec.merge(max_tran_date_df, on=["account_number","tran_date"])
max_tran_date_df['min_amount'] = 0.9*max_tran_date_df.amount.values[0]
max_tran_date_df

,tran_id,account_number,tran_date,is_salary,amount,month_start,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,min_amount
0,18,abc,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,16200.0
1,44,xyz,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,16200.0

### 3. Get Non Salary Transactions of Salary Accounts

In [29]:
non_sal_rec = df.loc[df.is_salary==0]
non_sal_rec.loc[:,'tran_date'] = pd.to_datetime(non_sal_rec['tran_date'])
non_sal_rec.loc[:,'month_end'] = pd.to_datetime(non_sal_rec['tran_date'])+pd.offsets.MonthEnd(n=0)
non_sal_rec.loc[:,'month_start'] = non_sal_rec['tran_date'].apply(lambda x: x.replace(day=1))
non_sal_rec.loc[:,'month_end_day'] = non_sal_rec['month_end'].dt.day
non_sal_rec.loc[:,'day'] = non_sal_rec.loc[:,'tran_date'].dt.day
non_sal_rec.loc[:,'month'] = non_sal_rec.loc[:,'tran_date'].dt.month




non_sal_rec.sample(10)

/home/aayush/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/home/aayush/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

,tran_id,account_number,tran_date,is_salary,amount,month_start,month_end,month_end_day,day,month
6,33,xyz,2021-01-03,0,200,2021-01-01,2021-01-31,31,3,1
24,51,xyz,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9
3,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12
16,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4
28,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10
0,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10
17,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4
16,16,abc,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4
6,6,abc,2021-01-02,0,12000,2021-01-01,2021-01-31,31,2,1
10,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2

<font size="4"> Get only those months for which salary has not been flagged and look for the salary transaction </font>

In [30]:
df_all = non_sal_rec.merge(sal_rec, on=['account_number','month_start'], how='left', indicator=True)
df_all

,tran_id_x,account_number,tran_date_x,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x,tran_id_y,tran_date_y,is_salary_y,amount_y,day_y,month_end_y,month_end_day_y,month_y,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge
0,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,1,abc,2020-10-27,0,9500,2020-10-01,2020-10-31,31,27,10,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,2,abc,2020-11-03,0,8500,2020-11-01,2020-11-30,30,3,11,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,3,abc,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,4,abc,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,6,abc,2021-01-02,0,12000,2021-01-01,2021-01-31,31,2,1,5.0,2021-01-01,1.0,11000.0,1.0,2021-01-31,31.0,1.0,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1.0,-3.0,5.0,-3.0,5.0,1.0,5.0,1.0,5.0,both
6,7,abc,2021-01-03,0,200,2021-01-01,2021-01-31,31,3,1,5.0,2021-01-01,1.0,11000.0,1.0,2021-01-31,31.0,1.0,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1.0,-3.0,5.0,-3.0,5.0,1.0,5.0,1.0,5.0,both
7,8,abc,2021-01-30,0,11000,2021-01-01,2021-01-31,31,30,1,5.0,2021-01-01,1.0,11000.0,1.0,2021-01-31,31.0,1.0,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1.0,-3.0,5.0,-3.0,5.0,1.0,5.0,1.0,5.0,both
8,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,12,abc,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,13,abc,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
14,16,abc,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
15,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
16,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,20,abc,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
18,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
19,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
20,23,abc,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
21,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
23,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
25,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
26,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
27,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
28,29,xyz,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
29,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
30,32,xyz,2021-01-02,0,12000,2021-01-01,2021-01-31,31,2,1,31.0,2021-01-01,1.0,11000.0,1.0,2021-01-31,31.0,1.0,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1.0,-3.0,5.0,-3.0,5.0,1.0,5.0,1.0,5.0,both
31,33,xyz,2021-01-03,0,200,2021-01-01,2021-01-31,31,3,1,31.0,2021-01-01,1.0,11000.0,1.0,2021-01-31,31.0,1.0,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1.0,-3.0,5.0,-3.0,5.0,1.0,5.0,1.0,5.0,both
32,34,xyz,2021-01-30,0,11000,2021-01-01,2021-01-31,31,30,1,31.0,2021-01-01,1.0,11000.0,1.0,2021-01-31,31.0,1.0,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1.0,-3.0,5.0,-3.0,5.0,1.0,5.0,1.0,5.0,both
33,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
34,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
35,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
36,38,xyz,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
37,39,xyz,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
38,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
39,42,xyz,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
40,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
41,45,xyz,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
42,46,xyz,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
43,47,xyz,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
44,48,xyz,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
45,49,xyz,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
46,50,xyz,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
47,51,xyz,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
48,52,xyz,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [31]:
non_sal_rem = df_all.loc[df_all['_merge'] == 'left_only']
non_sal_rem.drop(['tran_date_y','amount_y','_merge','month_end_day_y','month_end_y','day_y','month_y','is_salary_y'],axis=1,inplace=True)
# non_sal_rem.sample(10)
non_sal_rem.drop(['forward_pass','backward_pass','min_amount_threshold_forward','max_amount_threshold_forward','min_amount_threshold_backward','max_amount_threshold_backward','constant_one','min_day_window_forward','max_day_window_forward','max_day_window_backward','min_day_window_backward','min_day_threshold_forward','max_day_threshold_forward','min_day_threshold_backward','max_day_threshold_backward','tran_id_y'],axis=1,inplace=True)

# non_sal_rem.drop(['forward_pass','backward_pass','min_amount_threshold_forward','max_amount_threshold_forward','min_amount_threshold_backward','max_amount_threshold_backward','constant_one','min_day_window_forward','max_day_window_forward','max_day_window_backward','min_day_window_backward','min_day_threshold_forward','max_day_threshold_forward','min_day_threshold_backward','max_day_threshold_backward'],axis=1,inplace=True)

/home/aayush/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [32]:
non_sal_rem
# records of those salary accounts months that has not been flagged as is_salary=1

,tran_id_x,account_number,tran_date_x,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x
0,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10
1,1,abc,2020-10-27,0,9500,2020-10-01,2020-10-31,31,27,10
2,2,abc,2020-11-03,0,8500,2020-11-01,2020-11-30,30,3,11
3,3,abc,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12
4,4,abc,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12
8,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2
9,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2
10,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2
11,12,abc,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2
12,13,abc,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2
13,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4
14,16,abc,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4
15,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4
16,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6
17,20,abc,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6
18,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6
19,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7
20,23,abc,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7
21,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8
22,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9
23,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9
24,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9
25,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10
26,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11
27,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11
28,29,xyz,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12
29,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12
33,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2
34,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2
35,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2
36,38,xyz,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2
37,39,xyz,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2
38,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4
39,42,xyz,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4
40,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4
41,45,xyz,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6
42,46,xyz,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6
43,47,xyz,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6
44,48,xyz,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7
45,49,xyz,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7
46,50,xyz,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8
47,51,xyz,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9
48,52,xyz,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10

In [33]:
# non_sal_rem : non_salary transaction after salary month has been removed

In [34]:
sal_rec

,tran_id,account_number,tran_date,is_salary,amount,month_start,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward
0,5,abc,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5
1,14,abc,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8
2,18,abc,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7
3,31,xyz,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5
4,40,xyz,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8
5,44,xyz,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7

In [35]:
df_all = non_sal_rem.merge(sal_rec, on=['account_number'], how='inner', indicator=True)
df_all

,tran_id_x,account_number,tran_date_x,is_salary_x,amount_x,month_start_x,month_end_x,month_end_day_x,day_x,month_x,tran_id,tran_date,is_salary,amount,month_start_y,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge
0,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
1,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
2,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
3,1,abc,2020-10-27,0,9500,2020-10-01,2020-10-31,31,27,10,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
4,1,abc,2020-10-27,0,9500,2020-10-01,2020-10-31,31,27,10,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
5,1,abc,2020-10-27,0,9500,2020-10-01,2020-10-31,31,27,10,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
6,2,abc,2020-11-03,0,8500,2020-11-01,2020-11-30,30,3,11,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
7,2,abc,2020-11-03,0,8500,2020-11-01,2020-11-30,30,3,11,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
8,2,abc,2020-11-03,0,8500,2020-11-01,2020-11-30,30,3,11,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
9,3,abc,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
10,3,abc,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
11,3,abc,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
12,4,abc,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
13,4,abc,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
14,4,abc,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
15,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
16,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
17,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
18,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
19,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
20,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
21,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
22,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
23,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
24,12,abc,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
25,12,abc,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
26,12,abc,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
27,13,abc,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
28,13,abc,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
29,13,abc,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
30,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
31,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
32,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
33,16,abc,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
34,16,abc,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
35,16,abc,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
36,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
37,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
38,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
39,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
40,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
41,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
42,20,abc,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
43,20,abc,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
44,20,abc,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
45,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
46,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
47,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
48,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
49,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
50,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
51,23,abc,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
52,23,abc,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
53,23,abc,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
54,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
55,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
56,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
57,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
58,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
59,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
60,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
61,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
62,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
63,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
64,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
65,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
66,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
67,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
68,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
69,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
70,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
71,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
72,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
73,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
74,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
75,29,xyz,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
76,29,xyz,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
77,29,xyz,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
78,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
79,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
80,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
81,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
82,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
83,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
84,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
85,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
86,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
87,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
88,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
89,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
90,38,xyz,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
91,38,xyz,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
92,38,xyz,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
93,39,xyz,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
94,39,xyz,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
95,39,xyz,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
96,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
97,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
98,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
99,42,xyz,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
100,42,xyz,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
101,42,xyz,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
102,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
103,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both

In [36]:
df_all = df_all.rename(columns={'tran_date_x':'transaction_date'})
df_all

,tran_id_x,account_number,transaction_date,is_salary_x,amount_x,month_start_x,month_end_x,month_end_day_x,day_x,month_x,tran_id,tran_date,is_salary,amount,month_start_y,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge
0,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
1,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
2,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
3,1,abc,2020-10-27,0,9500,2020-10-01,2020-10-31,31,27,10,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
4,1,abc,2020-10-27,0,9500,2020-10-01,2020-10-31,31,27,10,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
5,1,abc,2020-10-27,0,9500,2020-10-01,2020-10-31,31,27,10,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
6,2,abc,2020-11-03,0,8500,2020-11-01,2020-11-30,30,3,11,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
7,2,abc,2020-11-03,0,8500,2020-11-01,2020-11-30,30,3,11,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
8,2,abc,2020-11-03,0,8500,2020-11-01,2020-11-30,30,3,11,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
9,3,abc,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
10,3,abc,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
11,3,abc,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
12,4,abc,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
13,4,abc,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
14,4,abc,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
15,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
16,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
17,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
18,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
19,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
20,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
21,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
22,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
23,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
24,12,abc,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
25,12,abc,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
26,12,abc,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
27,13,abc,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
28,13,abc,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
29,13,abc,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
30,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
31,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
32,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
33,16,abc,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
34,16,abc,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
35,16,abc,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
36,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
37,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
38,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
39,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
40,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
41,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
42,20,abc,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
43,20,abc,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
44,20,abc,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
45,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
46,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
47,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
48,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
49,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
50,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
51,23,abc,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
52,23,abc,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
53,23,abc,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
54,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
55,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
56,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
57,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
58,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
59,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
60,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
61,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
62,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
63,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
64,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
65,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
66,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
67,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
68,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
69,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
70,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
71,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
72,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
73,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
74,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
75,29,xyz,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
76,29,xyz,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
77,29,xyz,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
78,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
79,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
80,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
81,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
82,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
83,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
84,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
85,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
86,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
87,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
88,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
89,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
90,38,xyz,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
91,38,xyz,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
92,38,xyz,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
93,39,xyz,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
94,39,xyz,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
95,39,xyz,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
96,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
97,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
98,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
99,42,xyz,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
100,42,xyz,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
101,42,xyz,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
102,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
103,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both

In [37]:
# filtering on the basis of amount and transaction date

In [38]:
min_date_mask = df_all.loc[:,'transaction_date'] >= df_all.loc[:,'tran_date']
max_date_mask = df_all.loc[:,'transaction_date'] <= df_all.loc[:,'forward_pass']
min_amount_mask = df_all.loc[:,'amount_x'] >= df_all.loc[:,'min_amount_threshold_forward']
max_amount_mask = df_all.loc[:,'amount_x']<= df_all.loc[:,'max_amount_threshold_forward']

In [39]:
df_all_amount_filtered =  df_all.loc[min_date_mask & max_date_mask & min_amount_mask & max_amount_mask]
df_all_amount_filtered = df_all_amount_filtered.rename(columns={'amount':'prev_amount','month_start_x':'month_start'})

df_all_amount_filtered = df_all_amount_filtered.assign(amount_changed = lambda x: abs(x['prev_amount']-x['amount_x']) / x['prev_amount'])

df_all_amount_filtered 
# this will help to diffrentiate pattern 2 from pattern 4

,tran_id_x,account_number,transaction_date,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x,tran_id,tran_date,is_salary,prev_amount,month_start_y,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge,amount_changed
15,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
18,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.045455
21,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
31,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.028571
37,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.068571
41,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.055556
47,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000
50,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111
59,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000
62,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111
65,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000
81,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
84,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.045455
87,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
97,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.028571
103,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.068571
107,45,xyz,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.055556
113,47,xyz,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000
116,48,xyz,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111
125,51,xyz,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000

In [40]:
# creating mask for within day range filter

In [41]:
min_day_mask = df_all_amount_filtered.loc[:,'day_x']>=df_all_amount_filtered.loc[:,'min_day_threshold_forward']
max_day_mask = df_all_amount_filtered.loc[:,'day_x']<=df_all_amount_filtered.loc[:,'max_day_threshold_forward']

In [42]:
df_day_window_filtered = df_all_amount_filtered.loc[min_day_mask & max_day_mask]
df_day_window_filtered

,tran_id_x,account_number,transaction_date,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x,tran_id,tran_date,is_salary,prev_amount,month_start_y,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge,amount_changed
15,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
18,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.045455
21,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
31,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.028571
41,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.055556
50,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111
81,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
84,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.045455
87,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
97,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.028571
107,45,xyz,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.055556
116,48,xyz,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111

In [43]:
df_day_window_filtered_grouped = df_day_window_filtered.groupby(['account_number','month_start']).agg(amount_changed=('amount_changed','min')).reset_index()
df_day_window_filtered_grouped

  account_number month_start  amount_changed
0            abc  2021-02-01        0.000000
1            abc  2021-04-01        0.028571
2            abc  2021-06-01        0.055556
3            abc  2021-07-01        0.011111
4            xyz  2021-02-01        0.000000
5            xyz  2021-04-01        0.028571
6            xyz  2021-06-01        0.055556
7            xyz  2021-07-01        0.011111

In [44]:
df_day_window_amt_diff_filtered = df_day_window_filtered.merge(df_day_window_filtered_grouped, on=['account_number','month_start','amount_changed'], how='inner')
df_day_window_amt_diff_filtered.sort_values(by=["account_number", "transaction_date"],ascending=True, inplace=True)
df_day_window_amt_diff_filtered.drop_duplicates(subset=["account_number", "month_start"],keep="first", inplace=True)
df_day_window_amt_diff_filtered

,tran_id_x,account_number,transaction_date,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x,tran_id,tran_date,is_salary,prev_amount,month_start_y,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge,amount_changed
0,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
2,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.028571
3,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.055556
4,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111
5,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
7,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.028571
8,45,xyz,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.055556
9,48,xyz,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111

In [45]:
df_forward_pattern = df_day_window_amt_diff_filtered.loc[:,['tran_id_x','account_number','transaction_date','amount_x','month_start']]
df_forward_pattern['pattern_flag']=2

In [46]:
df_forward_pattern = df_forward_pattern.rename(columns = {'amount_x':'amount','tran_id_x':'transaction_id'})

In [47]:
# transaction flagged after forward pass

df_forward_pattern

,transaction_id,account_number,transaction_date,amount,month_start,pattern_flag
0,9,abc,2021-02-04,11000,2021-02-01,2
2,15,abc,2021-04-01,17000,2021-04-01,2
3,19,abc,2021-06-05,17000,2021-06-01,2
4,22,abc,2021-07-07,17800,2021-07-01,2
5,35,xyz,2021-02-04,11000,2021-02-01,2
7,41,xyz,2021-04-01,17000,2021-04-01,2
8,45,xyz,2021-06-05,17000,2021-06-01,2
9,48,xyz,2021-07-07,17800,2021-07-01,2

In [48]:
# df_all_amount_filtered : without filtering of day range (+4/-4)

In [49]:
df_all_amount_filtered

,tran_id_x,account_number,transaction_date,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x,tran_id,tran_date,is_salary,prev_amount,month_start_y,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge,amount_changed
15,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
18,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.045455
21,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
31,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.028571
37,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.068571
41,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.055556
47,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000
50,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111
59,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000
62,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111
65,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000
81,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
84,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.045455
87,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000
97,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.028571
103,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.068571
107,45,xyz,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.055556
113,47,xyz,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000
116,48,xyz,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111
125,51,xyz,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000

In [50]:
df_forward_pattern_3 = df_all_amount_filtered.merge(df_forward_pattern, on=['account_number','month_start'],how='left',indicator='exist')
df_forward_pattern_3

,tran_id_x,account_number,transaction_date_x,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x,tran_id,tran_date,is_salary,prev_amount,month_start_y,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge,amount_changed,transaction_id,transaction_date_y,amount,pattern_flag,exist
0,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000,9.0,2021-02-04,11000.0,2.0,both
1,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.045455,9.0,2021-02-04,11000.0,2.0,both
2,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000,9.0,2021-02-04,11000.0,2.0,both
3,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.028571,15.0,2021-04-01,17000.0,2.0,both
4,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.068571,15.0,2021-04-01,17000.0,2.0,both
5,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.055556,19.0,2021-06-05,17000.0,2.0,both
6,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000,19.0,2021-06-05,17000.0,2.0,both
7,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111,22.0,2021-07-07,17800.0,2.0,both
8,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000,NaN,NaT,NaN,NaN,left_only
9,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111,NaN,NaT,NaN,NaN,left_only
10,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000,NaN,NaT,NaN,NaN,left_only
11,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000,35.0,2021-02-04,11000.0,2.0,both
12,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.045455,35.0,2021-02-04,11000.0,2.0,both
13,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.000000,35.0,2021-02-04,11000.0,2.0,both
14,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.028571,41.0,2021-04-01,17000.0,2.0,both
15,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both,0.068571,41.0,2021-04-01,17000.0,2.0,both
16,45,xyz,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.055556,45.0,2021-06-05,17000.0,2.0,both
17,47,xyz,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000,45.0,2021-06-05,17000.0,2.0,both
18,48,xyz,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111,48.0,2021-07-07,17800.0,2.0,both
19,51,xyz,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000,NaN,NaT,NaN,NaN,left_only

In [51]:
df_forward_pattern_3 = df_forward_pattern_3.loc[df_forward_pattern_3['exist'] == 'left_only']
df_forward_pattern_3
# df_all_pattern_3.loc[:,['account_number','tran_date_x','amount_x']]
# df_all_pattern_3.drop(['tran_date_y','amount_y','_merge','month_end_day_y','month_end_y','day_y','month_y','is_salary_y'],axis=1,inplace=True)
# non_sal_rem.sample(10)
# non_sal_rem.drop(['forward_pass','backward_pass','min_amount_threshold','max_amount_threshold','constant_one','min_day_window','max_day_window','min_day_threshold','max_day_threshold'],axis=1,inplace=True)

,tran_id_x,account_number,transaction_date_x,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x,tran_id,tran_date,is_salary,prev_amount,month_start_y,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge,amount_changed,transaction_id,transaction_date_y,amount,pattern_flag,exist
8,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000,NaN,NaT,NaN,NaN,left_only
9,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.011111,NaN,NaT,NaN,NaN,left_only
10,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000,NaN,NaT,NaN,NaN,left_only
19,51,xyz,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both,0.000000,NaN,NaT,NaN,NaN,left_only

In [52]:
# df_all_pattern

In [53]:
df_forward_pattern_3.sort_values(by=["account_number", "month_start","amount_changed"],ascending=True, inplace=True)
df_forward_pattern_3.drop_duplicates(subset=["account_number", "month_start"],keep="first", inplace=True)
df_forward_pattern_3 = df_forward_pattern_3.loc[:,['tran_id_x','account_number','transaction_date_x','amount_x','month_start']]
df_forward_pattern_3 = df_forward_pattern_3.rename(columns={'tran_id_x':'tran_id','transaction_date_x':'tran_date','amount_x':'amount'})
df_forward_pattern_3['pattern_flag']=3
df_forward_pattern_3

/home/aayush/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/aayush/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    tran_id account_number  tran_date  amount month_start  pattern_flag
8        25            abc 2021-09-09   18000  2021-09-01             3
19       51            xyz 2021-09-09   18000  2021-09-01             3

In [54]:
# too many renaming occuring

In [55]:
df_forward_pattern = df_forward_pattern.rename(columns = {'transaction_date':'tran_date','transaction_id':'tran_id'})

In [56]:
df_forward_pattern

   tran_id account_number  tran_date  amount month_start  pattern_flag
0        9            abc 2021-02-04   11000  2021-02-01             2
2       15            abc 2021-04-01   17000  2021-04-01             2
3       19            abc 2021-06-05   17000  2021-06-01             2
4       22            abc 2021-07-07   17800  2021-07-01             2
5       35            xyz 2021-02-04   11000  2021-02-01             2
7       41            xyz 2021-04-01   17000  2021-04-01             2
8       45            xyz 2021-06-05   17000  2021-06-01             2
9       48            xyz 2021-07-07   17800  2021-07-01             2

In [57]:
df_forward_pattern = pd.concat([df_forward_pattern_3,df_forward_pattern])
df_forward_pattern

    tran_id account_number  tran_date  amount month_start  pattern_flag
8        25            abc 2021-09-09   18000  2021-09-01             3
19       51            xyz 2021-09-09   18000  2021-09-01             3
0         9            abc 2021-02-04   11000  2021-02-01             2
2        15            abc 2021-04-01   17000  2021-04-01             2
3        19            abc 2021-06-05   17000  2021-06-01             2
4        22            abc 2021-07-07   17800  2021-07-01             2
5        35            xyz 2021-02-04   11000  2021-02-01             2
7        41            xyz 2021-04-01   17000  2021-04-01             2
8        45            xyz 2021-06-05   17000  2021-06-01             2
9        48            xyz 2021-07-07   17800  2021-07-01             2

In [58]:
# df_forward_pattern: final dataframe after forward pass

In [59]:
# return everything or just (account_number,tran_id,patternflag)

In [60]:
# df_all = non_sal_rec.merge(sal_rec.drop_duplicates(), on=['account_number','month_start'], how='left', indicator=True)
# non_sal_rem = df_all.loc[df_all['_merge'] == 'left_only']
# non_sal_rem.drop(['tran_date_y','amount_y','_merge','month_end_day_y','month_end_y','day_y','month_y','is_salary_y'],axis=1,inplace=True)
# non_sal_rem.sample(10)

In [61]:
## renaming the columns

In [62]:
# non_sal_rem.rename(columns={'tran_date_x':'tran_date','amount_x':'amount','month_end_x':'month_end','month_end_day_x':'month_end_day','day_x':'day','month_x':'month','is_salary_x':'is_salary'},inplace=True)
# non_sal_rem.sample(10)

## Backward Pass

In [63]:
# starting from non_sal_rem

In [64]:
non_sal_rem

,tran_id_x,account_number,tran_date_x,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x
0,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10
1,1,abc,2020-10-27,0,9500,2020-10-01,2020-10-31,31,27,10
2,2,abc,2020-11-03,0,8500,2020-11-01,2020-11-30,30,3,11
3,3,abc,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12
4,4,abc,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12
8,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2
9,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2
10,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2
11,12,abc,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2
12,13,abc,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2
13,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4
14,16,abc,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4
15,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4
16,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6
17,20,abc,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6
18,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6
19,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7
20,23,abc,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7
21,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8
22,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9
23,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9
24,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9
25,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10
26,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11
27,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11
28,29,xyz,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12
29,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12
33,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2
34,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2
35,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2
36,38,xyz,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2
37,39,xyz,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2
38,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4
39,42,xyz,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4
40,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4
41,45,xyz,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6
42,46,xyz,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6
43,47,xyz,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6
44,48,xyz,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7
45,49,xyz,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7
46,50,xyz,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8
47,51,xyz,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9
48,52,xyz,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10

In [65]:
# select only those months for which forward pass could not finc the salary

In [66]:
df_forward_pattern

    tran_id account_number  tran_date  amount month_start  pattern_flag
8        25            abc 2021-09-09   18000  2021-09-01             3
19       51            xyz 2021-09-09   18000  2021-09-01             3
0         9            abc 2021-02-04   11000  2021-02-01             2
2        15            abc 2021-04-01   17000  2021-04-01             2
3        19            abc 2021-06-05   17000  2021-06-01             2
4        22            abc 2021-07-07   17800  2021-07-01             2
5        35            xyz 2021-02-04   11000  2021-02-01             2
7        41            xyz 2021-04-01   17000  2021-04-01             2
8        45            xyz 2021-06-05   17000  2021-06-01             2
9        48            xyz 2021-07-07   17800  2021-07-01             2

In [67]:
non_sal_rem_backward = non_sal_rem.merge(df_forward_pattern, on=['account_number','month_start'],how='left',indicator=True)
non_sal_rem_backward

,tran_id_x,account_number,tran_date_x,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x,tran_id,tran_date,amount,pattern_flag,_merge
0,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10,NaN,NaT,NaN,NaN,left_only
1,1,abc,2020-10-27,0,9500,2020-10-01,2020-10-31,31,27,10,NaN,NaT,NaN,NaN,left_only
2,2,abc,2020-11-03,0,8500,2020-11-01,2020-11-30,30,3,11,NaN,NaT,NaN,NaN,left_only
3,3,abc,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,NaN,NaT,NaN,NaN,left_only
4,4,abc,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,NaN,NaT,NaN,NaN,left_only
5,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,9.0,2021-02-04,11000.0,2.0,both
6,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,9.0,2021-02-04,11000.0,2.0,both
7,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,9.0,2021-02-04,11000.0,2.0,both
8,12,abc,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,9.0,2021-02-04,11000.0,2.0,both
9,13,abc,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,9.0,2021-02-04,11000.0,2.0,both
10,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,15.0,2021-04-01,17000.0,2.0,both
11,16,abc,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,15.0,2021-04-01,17000.0,2.0,both
12,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,15.0,2021-04-01,17000.0,2.0,both
13,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,19.0,2021-06-05,17000.0,2.0,both
14,20,abc,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6,19.0,2021-06-05,17000.0,2.0,both
15,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,19.0,2021-06-05,17000.0,2.0,both
16,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,22.0,2021-07-07,17800.0,2.0,both
17,23,abc,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7,22.0,2021-07-07,17800.0,2.0,both
18,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,NaN,NaT,NaN,NaN,left_only
19,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,25.0,2021-09-09,18000.0,3.0,both
20,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,25.0,2021-09-09,18000.0,3.0,both
21,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,25.0,2021-09-09,18000.0,3.0,both
22,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,NaN,NaT,NaN,NaN,left_only
23,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11,NaN,NaT,NaN,NaN,left_only
24,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11,NaN,NaT,NaN,NaN,left_only
25,29,xyz,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,NaN,NaT,NaN,NaN,left_only
26,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,NaN,NaT,NaN,NaN,left_only
27,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,35.0,2021-02-04,11000.0,2.0,both
28,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,35.0,2021-02-04,11000.0,2.0,both
29,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,35.0,2021-02-04,11000.0,2.0,both
30,38,xyz,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,35.0,2021-02-04,11000.0,2.0,both
31,39,xyz,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,35.0,2021-02-04,11000.0,2.0,both
32,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,41.0,2021-04-01,17000.0,2.0,both
33,42,xyz,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,41.0,2021-04-01,17000.0,2.0,both
34,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,41.0,2021-04-01,17000.0,2.0,both
35,45,xyz,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,45.0,2021-06-05,17000.0,2.0,both
36,46,xyz,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6,45.0,2021-06-05,17000.0,2.0,both
37,47,xyz,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,45.0,2021-06-05,17000.0,2.0,both
38,48,xyz,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,48.0,2021-07-07,17800.0,2.0,both
39,49,xyz,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7,48.0,2021-07-07,17800.0,2.0,both
40,50,xyz,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,NaN,NaT,NaN,NaN,left_only
41,51,xyz,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,51.0,2021-09-09,18000.0,3.0,both
42,52,xyz,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,NaN,NaT,NaN,NaN,left_only

In [68]:
non_sal_rem_backward = non_sal_rem_backward.loc[non_sal_rem_backward['_merge'] == 'left_only']
non_sal_rem_backward

,tran_id_x,account_number,tran_date_x,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x,tran_id,tran_date,amount,pattern_flag,_merge
0,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10,NaN,NaT,NaN,NaN,left_only
1,1,abc,2020-10-27,0,9500,2020-10-01,2020-10-31,31,27,10,NaN,NaT,NaN,NaN,left_only
2,2,abc,2020-11-03,0,8500,2020-11-01,2020-11-30,30,3,11,NaN,NaT,NaN,NaN,left_only
3,3,abc,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,NaN,NaT,NaN,NaN,left_only
4,4,abc,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,NaN,NaT,NaN,NaN,left_only
18,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,NaN,NaT,NaN,NaN,left_only
22,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,NaN,NaT,NaN,NaN,left_only
23,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11,NaN,NaT,NaN,NaN,left_only
24,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11,NaN,NaT,NaN,NaN,left_only
25,29,xyz,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,NaN,NaT,NaN,NaN,left_only
26,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,NaN,NaT,NaN,NaN,left_only
40,50,xyz,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,NaN,NaT,NaN,NaN,left_only
42,52,xyz,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,NaN,NaT,NaN,NaN,left_only

In [69]:
# taking subset from non_sal_rem_backward

non_sal_rem_backward = non_sal_rem_backward.loc[:,['tran_id_x','account_number','tran_date_x','amount_x','month_start','month_end_day_x','day_x']]

non_sal_rem_backward

,tran_id_x,account_number,tran_date_x,amount_x,month_start,month_end_day_x,day_x
0,0,abc,2020-10-26,9500,2020-10-01,31,26
1,1,abc,2020-10-27,9500,2020-10-01,31,27
2,2,abc,2020-11-03,8500,2020-11-01,30,3
3,3,abc,2020-12-05,9500,2020-12-01,31,5
4,4,abc,2020-12-15,10000,2020-12-01,31,15
18,24,abc,2021-08-03,120,2021-08-01,31,3
22,28,abc,2021-10-09,600000,2021-10-01,31,9
23,27,xyz,2020-11-27,5500,2020-11-01,30,27
24,28,xyz,2020-11-03,7500,2020-11-01,30,3
25,29,xyz,2020-12-05,9500,2020-12-01,31,5
26,30,xyz,2020-12-15,10000,2020-12-01,31,15
40,50,xyz,2021-08-03,120,2021-08-01,31,3
42,52,xyz,2021-10-09,600000,2021-10-01,31,9

In [70]:
non_sal_rem_backward = non_sal_rem_backward.rename(columns = {'tran_id_x':'tran_id','tran_date_x':'tran_date','amount_x':'amount','month_end_day_x':'month_end_day','day_x':'day'})

In [71]:
non_sal_rem_backward

    tran_id account_number  tran_date  amount month_start  month_end_day  day
0         0            abc 2020-10-26    9500  2020-10-01             31   26
1         1            abc 2020-10-27    9500  2020-10-01             31   27
2         2            abc 2020-11-03    8500  2020-11-01             30    3
3         3            abc 2020-12-05    9500  2020-12-01             31    5
4         4            abc 2020-12-15   10000  2020-12-01             31   15
18       24            abc 2021-08-03     120  2021-08-01             31    3
22       28            abc 2021-10-09  600000  2021-10-01             31    9
23       27            xyz 2020-11-27    5500  2020-11-01             30   27
24       28            xyz 2020-11-03    7500  2020-11-01             30    3
25       29            xyz 2020-12-05    9500  2020-12-01             31    5
26       30            xyz 2020-12-15   10000  2020-12-01             31   15
40       50            xyz 2021-08-03     120  2021-08-01             31    3
42       52            xyz 2021-10-09  600000  2021-10-01             31    9

In [72]:
# df

In [73]:
df_all = non_sal_rem_backward.merge(sal_rec, on=['account_number'], how='inner', indicator=True)
df_all = df_all.rename(columns={'tran_date_x':'transaction_date','tran_id_x':'transaction_id'})
df_all

,transaction_id,account_number,transaction_date,amount_x,month_start_x,month_end_day_x,day_x,tran_id_y,tran_date_y,is_salary,amount_y,month_start_y,day_y,month_end,month_end_day_y,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge
0,0,abc,2020-10-26,9500,2020-10-01,31,26,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
1,0,abc,2020-10-26,9500,2020-10-01,31,26,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
2,0,abc,2020-10-26,9500,2020-10-01,31,26,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
3,1,abc,2020-10-27,9500,2020-10-01,31,27,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
4,1,abc,2020-10-27,9500,2020-10-01,31,27,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
5,1,abc,2020-10-27,9500,2020-10-01,31,27,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
6,2,abc,2020-11-03,8500,2020-11-01,30,3,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
7,2,abc,2020-11-03,8500,2020-11-01,30,3,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
8,2,abc,2020-11-03,8500,2020-11-01,30,3,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
9,3,abc,2020-12-05,9500,2020-12-01,31,5,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
10,3,abc,2020-12-05,9500,2020-12-01,31,5,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
11,3,abc,2020-12-05,9500,2020-12-01,31,5,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
12,4,abc,2020-12-15,10000,2020-12-01,31,15,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
13,4,abc,2020-12-15,10000,2020-12-01,31,15,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
14,4,abc,2020-12-15,10000,2020-12-01,31,15,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
15,24,abc,2021-08-03,120,2021-08-01,31,3,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
16,24,abc,2021-08-03,120,2021-08-01,31,3,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
17,24,abc,2021-08-03,120,2021-08-01,31,3,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
18,28,abc,2021-10-09,600000,2021-10-01,31,9,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
19,28,abc,2021-10-09,600000,2021-10-01,31,9,14,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
20,28,abc,2021-10-09,600000,2021-10-01,31,9,18,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
21,27,xyz,2020-11-27,5500,2020-11-01,30,27,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
22,27,xyz,2020-11-27,5500,2020-11-01,30,27,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
23,27,xyz,2020-11-27,5500,2020-11-01,30,27,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
24,28,xyz,2020-11-03,7500,2020-11-01,30,3,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
25,28,xyz,2020-11-03,7500,2020-11-01,30,3,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
26,28,xyz,2020-11-03,7500,2020-11-01,30,3,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
27,29,xyz,2020-12-05,9500,2020-12-01,31,5,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
28,29,xyz,2020-12-05,9500,2020-12-01,31,5,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
29,29,xyz,2020-12-05,9500,2020-12-01,31,5,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
30,30,xyz,2020-12-15,10000,2020-12-01,31,15,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
31,30,xyz,2020-12-15,10000,2020-12-01,31,15,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
32,30,xyz,2020-12-15,10000,2020-12-01,31,15,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
33,50,xyz,2021-08-03,120,2021-08-01,31,3,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
34,50,xyz,2021-08-03,120,2021-08-01,31,3,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
35,50,xyz,2021-08-03,120,2021-08-01,31,3,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both
36,52,xyz,2021-10-09,600000,2021-10-01,31,9,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
37,52,xyz,2021-10-09,600000,2021-10-01,31,9,40,2021-03-04,1,17500,2021-03-01,4,2021-03-31,31,3,2021-05-03,2021-01-01,15750.0,22750.0,12250.0,19250.0,1,0,8,0,8,1,8,1,8,both
38,52,xyz,2021-10-09,600000,2021-10-01,31,9,44,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,both

In [74]:
min_date_mask = df_all.loc[:,'transaction_date'] >= df_all.loc[:,'backward_pass']
max_date_mask = df_all.loc[:,'transaction_date'] <= df_all.loc[:,'tran_date_y']
min_amount_mask = df_all.loc[:,'amount_x'] >= df_all.loc[:,'min_amount_threshold_backward']
max_amount_mask = df_all.loc[:,'amount_x']<= df_all.loc[:,'max_amount_threshold_backward']

In [75]:
df_all_amount_filtered =  df_all.loc[min_date_mask & max_date_mask & min_amount_mask & max_amount_mask]
df_all_amount_filtered

# this will help to diffrentiate pattern 2 from pattern 4

,transaction_id,account_number,transaction_date,amount_x,month_start_x,month_end_day_x,day_x,tran_id_y,tran_date_y,is_salary,amount_y,month_start_y,day_y,month_end,month_end_day_y,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge
0,0,abc,2020-10-26,9500,2020-10-01,31,26,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
3,1,abc,2020-10-27,9500,2020-10-01,31,27,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
6,2,abc,2020-11-03,8500,2020-11-01,30,3,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
9,3,abc,2020-12-05,9500,2020-12-01,31,5,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
12,4,abc,2020-12-15,10000,2020-12-01,31,15,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
27,29,xyz,2020-12-05,9500,2020-12-01,31,5,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
30,30,xyz,2020-12-15,10000,2020-12-01,31,15,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both

In [76]:
df

    tran_id account_number  tran_date  is_salary  amount month_start
0         0            abc 2020-10-26          0    9500  2020-10-01
1         1            abc 2020-10-27          0    9500  2020-10-01
2         2            abc 2020-11-03          0    8500  2020-11-01
3         3            abc 2020-12-05          0    9500  2020-12-01
4         4            abc 2020-12-15          0   10000  2020-12-01
5         5            abc 2021-01-01          1   11000  2021-01-01
6         6            abc 2021-01-02          0   12000  2021-01-01
7         7            abc 2021-01-03          0     200  2021-01-01
8         8            abc 2021-01-30          0   11000  2021-01-01
9         9            abc 2021-02-04          0   11000  2021-02-01
10       10            abc 2021-02-04          0   11500  2021-02-01
11       11            abc 2021-02-05          0   11000  2021-02-01
12       12            abc 2021-02-08          0     110  2021-02-01
13       13            abc 2021-02-11          0   16000  2021-02-01
14       14            abc 2021-03-04          1   17500  2021-03-01
15       15            abc 2021-04-01          0   17000  2021-04-01
16       16            abc 2021-04-04          0   30000  2021-04-01
17       17            abc 2021-04-30          0   18700  2021-04-01
18       18            abc 2021-05-03          1   18000  2021-05-01
19       19            abc 2021-06-05          0   17000  2021-06-01
20       20            abc 2021-06-08          0     500  2021-06-01
21       21            abc 2021-06-30          0   18000  2021-06-01
22       22            abc 2021-07-07          0   17800  2021-07-01
23       23            abc 2021-07-15          0   30000  2021-07-01
24       24            abc 2021-08-03          0     120  2021-08-01
25       25            abc 2021-09-09          0   18000  2021-09-01
26       26            abc 2021-09-10          0   17800  2021-09-01
27       27            abc 2021-09-12          0   18000  2021-09-01
28       28            abc 2021-10-09          0  600000  2021-10-01
0        27            xyz 2020-11-27          0    5500  2020-11-01
1        28            xyz 2020-11-03          0    7500  2020-11-01
2        29            xyz 2020-12-05          0    9500  2020-12-01
3        30            xyz 2020-12-15          0   10000  2020-12-01
4        31            xyz 2021-01-01          1   11000  2021-01-01
5        32            xyz 2021-01-02          0   12000  2021-01-01
6        33            xyz 2021-01-03          0     200  2021-01-01
7        34            xyz 2021-01-30          0   11000  2021-01-01
8        35            xyz 2021-02-04          0   11000  2021-02-01
9        36            xyz 2021-02-04          0   11500  2021-02-01
10       37            xyz 2021-02-05          0   11000  2021-02-01
11       38            xyz 2021-02-08          0     110  2021-02-01
12       39            xyz 2021-02-11          0   16000  2021-02-01
13       40            xyz 2021-03-04          1   17500  2021-03-01
14       41            xyz 2021-04-01          0   17000  2021-04-01
15       42            xyz 2021-04-04          0   30000  2021-04-01
16       43            xyz 2021-04-30          0   18700  2021-04-01
17       44            xyz 2021-05-03          1   18000  2021-05-01
18       45            xyz 2021-06-05          0   17000  2021-06-01
19       46            xyz 2021-06-08          0     500  2021-06-01
20       47            xyz 2021-06-30          0   18000  2021-06-01
21       48            xyz 2021-07-07          0   17800  2021-07-01
22       49            xyz 2021-07-15          0   30000  2021-07-01
23       50            xyz 2021-08-03          0     120  2021-08-01
24       51            xyz 2021-09-09          0   18000  2021-09-01
25       52            xyz 2021-10-09          0  600000  2021-10-01

In [77]:
df_all_amount_filtered

,transaction_id,account_number,transaction_date,amount_x,month_start_x,month_end_day_x,day_x,tran_id_y,tran_date_y,is_salary,amount_y,month_start_y,day_y,month_end,month_end_day_y,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge
0,0,abc,2020-10-26,9500,2020-10-01,31,26,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
3,1,abc,2020-10-27,9500,2020-10-01,31,27,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
6,2,abc,2020-11-03,8500,2020-11-01,30,3,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
9,3,abc,2020-12-05,9500,2020-12-01,31,5,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
12,4,abc,2020-12-15,10000,2020-12-01,31,15,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
27,29,xyz,2020-12-05,9500,2020-12-01,31,5,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both
30,30,xyz,2020-12-15,10000,2020-12-01,31,15,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both

In [78]:
df_all_amount_filtered = df_all_amount_filtered.rename(columns={'amount_y':'prev_amount','month_start_x':'month_start'})

df_all_amount_filtered = df_all_amount_filtered.assign(amount_changed = lambda x: abs(x['prev_amount']-x['amount_x']) / x['prev_amount'])

df_all_amount_filtered

,transaction_id,account_number,transaction_date,amount_x,month_start,month_end_day_x,day_x,tran_id_y,tran_date_y,is_salary,prev_amount,month_start_y,day_y,month_end,month_end_day_y,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge,amount_changed
0,0,abc,2020-10-26,9500,2020-10-01,31,26,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364
3,1,abc,2020-10-27,9500,2020-10-01,31,27,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364
6,2,abc,2020-11-03,8500,2020-11-01,30,3,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.227273
9,3,abc,2020-12-05,9500,2020-12-01,31,5,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364
12,4,abc,2020-12-15,10000,2020-12-01,31,15,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.090909
27,29,xyz,2020-12-05,9500,2020-12-01,31,5,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364
30,30,xyz,2020-12-15,10000,2020-12-01,31,15,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.090909

In [79]:
# creating mask for within day range filter

In [80]:
min_day_mask = df_all_amount_filtered.loc[:,'day_x']>=df_all_amount_filtered.loc[:,'min_day_threshold_backward']
max_day_mask = df_all_amount_filtered.loc[:,'day_x']<=df_all_amount_filtered.loc[:,'max_day_threshold_backward']

In [81]:
df_day_window_filtered = df_all_amount_filtered.loc[min_day_mask & max_day_mask]
df_day_window_filtered

,transaction_id,account_number,transaction_date,amount_x,month_start,month_end_day_x,day_x,tran_id_y,tran_date_y,is_salary,prev_amount,month_start_y,day_y,month_end,month_end_day_y,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge,amount_changed
6,2,abc,2020-11-03,8500,2020-11-01,30,3,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.227273
9,3,abc,2020-12-05,9500,2020-12-01,31,5,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364
27,29,xyz,2020-12-05,9500,2020-12-01,31,5,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364

In [82]:
df_day_window_filtered_grouped = df_day_window_filtered.groupby(['account_number','month_start']).agg(amount_changed=('amount_changed','min')).reset_index()
df_day_window_filtered_grouped

  account_number month_start  amount_changed
0            abc  2020-11-01        0.227273
1            abc  2020-12-01        0.136364
2            xyz  2020-12-01        0.136364

In [83]:
df_day_window_amt_diff_filtered = df_day_window_filtered.merge(df_day_window_filtered_grouped, on=['account_number','month_start','amount_changed'], how='inner')
df_day_window_amt_diff_filtered.sort_values(by=["account_number", "transaction_date"],ascending=True, inplace=True)
df_day_window_amt_diff_filtered.drop_duplicates(subset=["account_number", "month_start"],keep="first", inplace=True)
df_day_window_amt_diff_filtered

,transaction_id,account_number,transaction_date,amount_x,month_start,month_end_day_x,day_x,tran_id_y,tran_date_y,is_salary,prev_amount,month_start_y,day_y,month_end,month_end_day_y,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge,amount_changed
0,2,abc,2020-11-03,8500,2020-11-01,30,3,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.227273
1,3,abc,2020-12-05,9500,2020-12-01,31,5,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364
2,29,xyz,2020-12-05,9500,2020-12-01,31,5,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364

In [84]:
df_backward_pattern = df_day_window_amt_diff_filtered.loc[:,['transaction_id','account_number','transaction_date','amount_x','month_start']]
df_backward_pattern['pattern_flag']=2

In [85]:
df_backward_pattern = df_backward_pattern.rename(columns = {'amount_x':'amount'})

In [86]:
# transaction flagged after backward pass

df_backward_pattern

,transaction_id,account_number,transaction_date,amount,month_start,pattern_flag
0,2,abc,2020-11-03,8500,2020-11-01,2
1,3,abc,2020-12-05,9500,2020-12-01,2
2,29,xyz,2020-12-05,9500,2020-12-01,2

In [87]:
df_backward_pattern_3 = df_all_amount_filtered.merge(df_backward_pattern, on=['account_number','month_start'],how='left',indicator='exist')
df_backward_pattern_3

,transaction_id_x,account_number,transaction_date_x,amount_x,month_start,month_end_day_x,day_x,tran_id_y,tran_date_y,is_salary,prev_amount,month_start_y,day_y,month_end,month_end_day_y,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge,amount_changed,transaction_id_y,transaction_date_y,amount,pattern_flag,exist
0,0,abc,2020-10-26,9500,2020-10-01,31,26,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364,NaN,NaT,NaN,NaN,left_only
1,1,abc,2020-10-27,9500,2020-10-01,31,27,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364,NaN,NaT,NaN,NaN,left_only
2,2,abc,2020-11-03,8500,2020-11-01,30,3,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.227273,2.0,2020-11-03,8500.0,2.0,both
3,3,abc,2020-12-05,9500,2020-12-01,31,5,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364,3.0,2020-12-05,9500.0,2.0,both
4,4,abc,2020-12-15,10000,2020-12-01,31,15,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.090909,3.0,2020-12-05,9500.0,2.0,both
5,29,xyz,2020-12-05,9500,2020-12-01,31,5,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364,29.0,2020-12-05,9500.0,2.0,both
6,30,xyz,2020-12-15,10000,2020-12-01,31,15,31,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.090909,29.0,2020-12-05,9500.0,2.0,both

In [88]:
df_backward_pattern_3 = df_backward_pattern_3.loc[df_backward_pattern_3['exist'] == 'left_only']
df_backward_pattern_3

,transaction_id_x,account_number,transaction_date_x,amount_x,month_start,month_end_day_x,day_x,tran_id_y,tran_date_y,is_salary,prev_amount,month_start_y,day_y,month_end,month_end_day_y,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,_merge,amount_changed,transaction_id_y,transaction_date_y,amount,pattern_flag,exist
0,0,abc,2020-10-26,9500,2020-10-01,31,26,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364,NaN,NaT,NaN,NaN,left_only
1,1,abc,2020-10-27,9500,2020-10-01,31,27,5,2021-01-01,1,11000,2021-01-01,1,2021-01-31,31,1,2021-03-04,2020-10-26,9900.0,14300.0,7700.0,12100.0,1,-3,5,-3,5,1,5,1,5,both,0.136364,NaN,NaT,NaN,NaN,left_only

In [89]:
#

In [90]:
df_backward_pattern_3.sort_values(by=["account_number", "month_start","amount_changed"],ascending=True, inplace=True)
df_backward_pattern_3.drop_duplicates(subset=["account_number", "month_start"],keep="first", inplace=True)
df_backward_pattern_3 = df_backward_pattern_3.loc[:,['transaction_id_x','account_number','transaction_date_x','amount_x','month_start']]
df_backward_pattern_3 = df_backward_pattern_3.rename(columns={'transaction_id_x':'tran_id','transaction_date_x':'tran_date','amount_x':'amount'})
df_backward_pattern_3['pattern_flag']=3
df_backward_pattern_3

/home/aayush/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/aayush/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   tran_id account_number  tran_date  amount month_start  pattern_flag
0        0            abc 2020-10-26    9500  2020-10-01             3

In [91]:
df_backward_pattern = df_backward_pattern.rename(columns = {'transaction_date':'tran_date','transaction_id':'tran_id'})

In [92]:
df_backward_pattern

   tran_id account_number  tran_date  amount month_start  pattern_flag
0        2            abc 2020-11-03    8500  2020-11-01             2
1        3            abc 2020-12-05    9500  2020-12-01             2
2       29            xyz 2020-12-05    9500  2020-12-01             2

In [93]:
df_backward_pattern = pd.concat([df_backward_pattern_3,df_backward_pattern])
df_backward_pattern

   tran_id account_number  tran_date  amount month_start  pattern_flag
0        0            abc 2020-10-26    9500  2020-10-01             3
0        2            abc 2020-11-03    8500  2020-11-01             2
1        3            abc 2020-12-05    9500  2020-12-01             2
2       29            xyz 2020-12-05    9500  2020-12-01             2

In [94]:
df

    tran_id account_number  tran_date  is_salary  amount month_start
0         0            abc 2020-10-26          0    9500  2020-10-01
1         1            abc 2020-10-27          0    9500  2020-10-01
2         2            abc 2020-11-03          0    8500  2020-11-01
3         3            abc 2020-12-05          0    9500  2020-12-01
4         4            abc 2020-12-15          0   10000  2020-12-01
5         5            abc 2021-01-01          1   11000  2021-01-01
6         6            abc 2021-01-02          0   12000  2021-01-01
7         7            abc 2021-01-03          0     200  2021-01-01
8         8            abc 2021-01-30          0   11000  2021-01-01
9         9            abc 2021-02-04          0   11000  2021-02-01
10       10            abc 2021-02-04          0   11500  2021-02-01
11       11            abc 2021-02-05          0   11000  2021-02-01
12       12            abc 2021-02-08          0     110  2021-02-01
13       13            abc 2021-02-11          0   16000  2021-02-01
14       14            abc 2021-03-04          1   17500  2021-03-01
15       15            abc 2021-04-01          0   17000  2021-04-01
16       16            abc 2021-04-04          0   30000  2021-04-01
17       17            abc 2021-04-30          0   18700  2021-04-01
18       18            abc 2021-05-03          1   18000  2021-05-01
19       19            abc 2021-06-05          0   17000  2021-06-01
20       20            abc 2021-06-08          0     500  2021-06-01
21       21            abc 2021-06-30          0   18000  2021-06-01
22       22            abc 2021-07-07          0   17800  2021-07-01
23       23            abc 2021-07-15          0   30000  2021-07-01
24       24            abc 2021-08-03          0     120  2021-08-01
25       25            abc 2021-09-09          0   18000  2021-09-01
26       26            abc 2021-09-10          0   17800  2021-09-01
27       27            abc 2021-09-12          0   18000  2021-09-01
28       28            abc 2021-10-09          0  600000  2021-10-01
0        27            xyz 2020-11-27          0    5500  2020-11-01
1        28            xyz 2020-11-03          0    7500  2020-11-01
2        29            xyz 2020-12-05          0    9500  2020-12-01
3        30            xyz 2020-12-15          0   10000  2020-12-01
4        31            xyz 2021-01-01          1   11000  2021-01-01
5        32            xyz 2021-01-02          0   12000  2021-01-01
6        33            xyz 2021-01-03          0     200  2021-01-01
7        34            xyz 2021-01-30          0   11000  2021-01-01
8        35            xyz 2021-02-04          0   11000  2021-02-01
9        36            xyz 2021-02-04          0   11500  2021-02-01
10       37            xyz 2021-02-05          0   11000  2021-02-01
11       38            xyz 2021-02-08          0     110  2021-02-01
12       39            xyz 2021-02-11          0   16000  2021-02-01
13       40            xyz 2021-03-04          1   17500  2021-03-01
14       41            xyz 2021-04-01          0   17000  2021-04-01
15       42            xyz 2021-04-04          0   30000  2021-04-01
16       43            xyz 2021-04-30          0   18700  2021-04-01
17       44            xyz 2021-05-03          1   18000  2021-05-01
18       45            xyz 2021-06-05          0   17000  2021-06-01
19       46            xyz 2021-06-08          0     500  2021-06-01
20       47            xyz 2021-06-30          0   18000  2021-06-01
21       48            xyz 2021-07-07          0   17800  2021-07-01
22       49            xyz 2021-07-15          0   30000  2021-07-01
23       50            xyz 2021-08-03          0     120  2021-08-01
24       51            xyz 2021-09-09          0   18000  2021-09-01
25       52            xyz 2021-10-09          0  600000  2021-10-01

In [97]:
df_forward_pattern

    tran_id account_number  tran_date  amount month_start  pattern_flag
8        25            abc 2021-09-09   18000  2021-09-01             3
19       51            xyz 2021-09-09   18000  2021-09-01             3
0         9            abc 2021-02-04   11000  2021-02-01             2
2        15            abc 2021-04-01   17000  2021-04-01             2
3        19            abc 2021-06-05   17000  2021-06-01             2
4        22            abc 2021-07-07   17800  2021-07-01             2
5        35            xyz 2021-02-04   11000  2021-02-01             2
7        41            xyz 2021-04-01   17000  2021-04-01             2
8        45            xyz 2021-06-05   17000  2021-06-01             2
9        48            xyz 2021-07-07   17800  2021-07-01             2

In [98]:
df_backward_pattern

   tran_id account_number  tran_date  amount month_start  pattern_flag
0        0            abc 2020-10-26    9500  2020-10-01             3
0        2            abc 2020-11-03    8500  2020-11-01             2
1        3            abc 2020-12-05    9500  2020-12-01             2
2       29            xyz 2020-12-05    9500  2020-12-01             2

In [99]:
# concat backward and forward

In [103]:
df_forward_backward = pd.concat([df_forward_pattern,df_backward_pattern]).reset_index(drop=True)
df_forward_backward

    tran_id account_number  tran_date  amount month_start  pattern_flag
0        25            abc 2021-09-09   18000  2021-09-01             3
1        51            xyz 2021-09-09   18000  2021-09-01             3
2         9            abc 2021-02-04   11000  2021-02-01             2
3        15            abc 2021-04-01   17000  2021-04-01             2
4        19            abc 2021-06-05   17000  2021-06-01             2
5        22            abc 2021-07-07   17800  2021-07-01             2
6        35            xyz 2021-02-04   11000  2021-02-01             2
7        41            xyz 2021-04-01   17000  2021-04-01             2
8        45            xyz 2021-06-05   17000  2021-06-01             2
9        48            xyz 2021-07-07   17800  2021-07-01             2
10        0            abc 2020-10-26    9500  2020-10-01             3
11        2            abc 2020-11-03    8500  2020-11-01             2
12        3            abc 2020-12-05    9500  2020-12-01             2
13       29            xyz 2020-12-05    9500  2020-12-01             2

## Pattern Identification

In [96]:
# get last transaction where is_salary=1

In [95]:
max_tran_date_df = sal_rec.groupby(["account_number"]).agg(tran_date=('tran_date','max')).reset_index()
max_tran_date_df=sal_rec.merge(max_tran_date_df, on=["account_number","tran_date"])
max_tran_date_df['min_amount'] = 0.9*max_tran_date_df.amount.values[0]
max_tran_date_df

,tran_id,account_number,tran_date,is_salary,amount,month_start,day,month_end,month_end_day,month,forward_pass,backward_pass,min_amount_threshold_forward,max_amount_threshold_forward,min_amount_threshold_backward,max_amount_threshold_backward,constant_one,min_day_window_forward,max_day_window_forward,min_day_window_backward,max_day_window_backward,min_day_threshold_forward,max_day_threshold_forward,min_day_threshold_backward,max_day_threshold_backward,min_amount
0,18,abc,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,16200.0
1,44,xyz,2021-05-03,1,18000,2021-05-01,3,2021-05-31,31,5,2021-10-09,2021-03-04,16200.0,23400.0,12600.0,19800.0,1,-1,7,-1,7,1,7,1,7,16200.0

In [107]:
non_sal_rem_pattern = non_sal_rem.merge(df_forward_backward, on=['account_number','month_start'], how='left', indicator='exist')
non_sal_rem_pattern

,tran_id_x,account_number,tran_date_x,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x,tran_id,tran_date,amount,pattern_flag,exist
0,0,abc,2020-10-26,0,9500,2020-10-01,2020-10-31,31,26,10,0.0,2020-10-26,9500.0,3.0,both
1,1,abc,2020-10-27,0,9500,2020-10-01,2020-10-31,31,27,10,0.0,2020-10-26,9500.0,3.0,both
2,2,abc,2020-11-03,0,8500,2020-11-01,2020-11-30,30,3,11,2.0,2020-11-03,8500.0,2.0,both
3,3,abc,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,3.0,2020-12-05,9500.0,2.0,both
4,4,abc,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,3.0,2020-12-05,9500.0,2.0,both
5,9,abc,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,9.0,2021-02-04,11000.0,2.0,both
6,10,abc,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,9.0,2021-02-04,11000.0,2.0,both
7,11,abc,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,9.0,2021-02-04,11000.0,2.0,both
8,12,abc,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,9.0,2021-02-04,11000.0,2.0,both
9,13,abc,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,9.0,2021-02-04,11000.0,2.0,both
10,15,abc,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,15.0,2021-04-01,17000.0,2.0,both
11,16,abc,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,15.0,2021-04-01,17000.0,2.0,both
12,17,abc,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,15.0,2021-04-01,17000.0,2.0,both
13,19,abc,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,19.0,2021-06-05,17000.0,2.0,both
14,20,abc,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6,19.0,2021-06-05,17000.0,2.0,both
15,21,abc,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,19.0,2021-06-05,17000.0,2.0,both
16,22,abc,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,22.0,2021-07-07,17800.0,2.0,both
17,23,abc,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7,22.0,2021-07-07,17800.0,2.0,both
18,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,NaN,NaT,NaN,NaN,left_only
19,25,abc,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,25.0,2021-09-09,18000.0,3.0,both
20,26,abc,2021-09-10,0,17800,2021-09-01,2021-09-30,30,10,9,25.0,2021-09-09,18000.0,3.0,both
21,27,abc,2021-09-12,0,18000,2021-09-01,2021-09-30,30,12,9,25.0,2021-09-09,18000.0,3.0,both
22,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,NaN,NaT,NaN,NaN,left_only
23,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11,NaN,NaT,NaN,NaN,left_only
24,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11,NaN,NaT,NaN,NaN,left_only
25,29,xyz,2020-12-05,0,9500,2020-12-01,2020-12-31,31,5,12,29.0,2020-12-05,9500.0,2.0,both
26,30,xyz,2020-12-15,0,10000,2020-12-01,2020-12-31,31,15,12,29.0,2020-12-05,9500.0,2.0,both
27,35,xyz,2021-02-04,0,11000,2021-02-01,2021-02-28,28,4,2,35.0,2021-02-04,11000.0,2.0,both
28,36,xyz,2021-02-04,0,11500,2021-02-01,2021-02-28,28,4,2,35.0,2021-02-04,11000.0,2.0,both
29,37,xyz,2021-02-05,0,11000,2021-02-01,2021-02-28,28,5,2,35.0,2021-02-04,11000.0,2.0,both
30,38,xyz,2021-02-08,0,110,2021-02-01,2021-02-28,28,8,2,35.0,2021-02-04,11000.0,2.0,both
31,39,xyz,2021-02-11,0,16000,2021-02-01,2021-02-28,28,11,2,35.0,2021-02-04,11000.0,2.0,both
32,41,xyz,2021-04-01,0,17000,2021-04-01,2021-04-30,30,1,4,41.0,2021-04-01,17000.0,2.0,both
33,42,xyz,2021-04-04,0,30000,2021-04-01,2021-04-30,30,4,4,41.0,2021-04-01,17000.0,2.0,both
34,43,xyz,2021-04-30,0,18700,2021-04-01,2021-04-30,30,30,4,41.0,2021-04-01,17000.0,2.0,both
35,45,xyz,2021-06-05,0,17000,2021-06-01,2021-06-30,30,5,6,45.0,2021-06-05,17000.0,2.0,both
36,46,xyz,2021-06-08,0,500,2021-06-01,2021-06-30,30,8,6,45.0,2021-06-05,17000.0,2.0,both
37,47,xyz,2021-06-30,0,18000,2021-06-01,2021-06-30,30,30,6,45.0,2021-06-05,17000.0,2.0,both
38,48,xyz,2021-07-07,0,17800,2021-07-01,2021-07-31,31,7,7,48.0,2021-07-07,17800.0,2.0,both
39,49,xyz,2021-07-15,0,30000,2021-07-01,2021-07-31,31,15,7,48.0,2021-07-07,17800.0,2.0,both
40,50,xyz,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,NaN,NaT,NaN,NaN,left_only
41,51,xyz,2021-09-09,0,18000,2021-09-01,2021-09-30,30,9,9,51.0,2021-09-09,18000.0,3.0,both
42,52,xyz,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,NaN,NaT,NaN,NaN,left_only

In [108]:
non_sal_rem_pattern = non_sal_rem_pattern.loc[non_sal_rem_pattern['exist'] == 'left_only']
non_sal_rem_pattern

,tran_id_x,account_number,tran_date_x,is_salary_x,amount_x,month_start,month_end_x,month_end_day_x,day_x,month_x,tran_id,tran_date,amount,pattern_flag,exist
18,24,abc,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,NaN,NaT,NaN,NaN,left_only
22,28,abc,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,NaN,NaT,NaN,NaN,left_only
23,27,xyz,2020-11-27,0,5500,2020-11-01,2020-11-30,30,27,11,NaN,NaT,NaN,NaN,left_only
24,28,xyz,2020-11-03,0,7500,2020-11-01,2020-11-30,30,3,11,NaN,NaT,NaN,NaN,left_only
40,50,xyz,2021-08-03,0,120,2021-08-01,2021-08-31,31,3,8,NaN,NaT,NaN,NaN,left_only
42,52,xyz,2021-10-09,0,600000,2021-10-01,2021-10-31,31,9,10,NaN,NaT,NaN,NaN,left_only

In [109]:
# join this with last is_salary=1