In [1]:
import pandas as pd

In [2]:
students = ['aayush','rama']

In [3]:
type(students)

list

In [4]:
pd.Series(students)

0    aayush
1      rama
dtype: object

In [5]:
age = [12,13]

In [6]:
pd.Series(age)

0    12
1    13
dtype: int64

In [7]:
heights = [123.3,190.5]

In [8]:
pd.Series(heights)

0    123.3
1    190.5
dtype: float64

In [9]:
mixed = [True,'say',{'my_mood':100}]

In [10]:
pd.Series(mixed)

0                True
1                 say
2    {'my_mood': 100}
dtype: object

In [11]:
pd.Series(data=students)

0    aayush
1      rama
dtype: object

In [12]:
pd.Series(age,dtype='float') # although pandas can infer it automatically

0    12.0
1    13.0
dtype: float64

In [13]:
# dtype containing string becomes object automaticlly

In [14]:
s = pd.Series(students)

In [15]:
s.dtype

dtype('O')

## Index and RangeIndex

In [16]:
book_list = ['abc','xyz']
pd.Series(book_list)

# assigns defualt sequence of index starting from 0
# this is called rangeindex

0    abc
1    xyz
dtype: object

In [17]:
pd.Series(data=book_list, index=['first','second']) # keyword argument

first     abc
second    xyz
dtype: object

In [18]:
pd.Series(book_list,['first','second']) # positional

first     abc
second    xyz
dtype: object

In [19]:
pd.__version__

'1.2.5'

In [20]:
pd.Series(data=book_list, index=['first','second'],dtype='string')

first     abc
second    xyz
dtype: string

In [21]:
pd.Series(data=book_list, index=['first','second'],dtype='object')

first     abc
second    xyz
dtype: object

In [22]:
# keyword argument can follor positional argument but the reverse 
# is not true

In [23]:
s.index

RangeIndex(start=0, stop=2, step=1)

In [24]:
type(s.index)

pandas.core.indexes.range.RangeIndex

In [25]:
pd.RangeIndex(stapd.RangeIndex(start=4, stop=6,step=1)rt=4, stop=6,step=1)

SyntaxError: invalid syntax (<ipython-input-25-0731f38ce6b5>, line 1)

In [ ]:
list(pd.RangeIndex(start=4, stop=6,step=1))

In [ ]:
s_new_index = pd.Series(book_list, index =list(pd.RangeIndex(start=4, stop=6,step=1)))

In [ ]:
s_new_index

In [ ]:
# range index is immutable object

## Series And Index Names

In [ ]:
s

In [ ]:
new_name = s

In [ ]:
new_name

In [ ]:
new_name.size

In [ ]:
new_name.equals(s)

In [ ]:
new_name.dtype

In [ ]:
new_name.name # nothing / pointing to None

In [ ]:
new_name.name==None

In [ ]:
new_name.name = 'name_list'

In [ ]:
new_name.name

In [ ]:
new_name

In [ ]:
# name of the series will be the column name in the dataframe

In [ ]:
new_name.index.name

In [ ]:
new_name.index.name == None

In [ ]:
new_name.index.name = 'book_index'

In [ ]:
new_name.index.name

In [ ]:
new_name

In [29]:
## assignment

In [26]:
actor_name = ['leo','tom','chris']

In [27]:
actor_age = [50,53,47]

In [28]:
pd.Series(actor_age,index=actor_name)

leo      50
tom      53
chris    47
dtype: int64

In [37]:
actor_dict = {}
val=0
for key in actor_name:
    actor_dict[key]=actor_age[val]
    val=val+1

In [38]:
actor_dict

{'leo': 50, 'tom': 53, 'chris': 47}

In [160]:
act_dictionary=pd.Series(actor_dict,name='actor')

In [44]:
act_list=list(zip(actor_name,actor_age))

In [45]:
act_dic=dict(zip(actor_name,actor_age))

In [47]:
pd.Series(act_dic)

leo      50
tom      53
chris    47
dtype: int64

In [50]:
# dictionary comprehension

In [51]:
{name:age for name,age in zip(actor_name,actor_age)}

{'leo': 50, 'tom': 53, 'chris': 47}

In [52]:
# head and tail methods

In [54]:
int_series = pd.Series([i for i in range(60)])

In [57]:
range(60)

range(0, 60)

In [58]:
pd.Series(range(60))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [60]:
int_series.size

60

In [61]:
len(int_series)

60

In [62]:
int_series.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [63]:
int_series.tail()

55    55
56    56
57    57
58    58
59    59
dtype: int64

In [65]:
int_series.head(n=3)

0    0
1    1
2    2
dtype: int64

## Changing the Display options

In [73]:
pd.options.display.min_rows=30
pd.Series(range(300))

0        0
1        1
2        2
3        3
4        4
5        5
6        6
7        7
8        8
9        9
10      10
11      11
12      12
13      13
14      14
      ...
285    285
286    286
287    287
288    288
289    289
290    290
291    291
292    292
293    293
294    294
295    295
296    296
297    297
298    298
299    299
Length: 300, dtype: int64

In [74]:
pd.Series(range(300))

0        0
1        1
2        2
3        3
4        4
5        5
6        6
7        7
8        8
9        9
10      10
11      11
12      12
13      13
14      14
      ...
285    285
286    286
287    287
288    288
289    289
290    290
291    291
292    292
293    293
294    294
295    295
296    296
297    297
298    298
299    299
Length: 300, dtype: int64

In [75]:
pd.options.display.min_rows=1

In [72]:
pd.Series(range(300))

0    0
    ..
Length: 300, dtype: int64

## Extracting by Index Position

In [77]:
from string import ascii_lowercase

In [78]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [79]:
pd.Series(ascii_lowercase)

0    abcdefghijklmnopqrstuvwxyz
dtype: object

In [87]:
alphabets = pd.Series(data=[i for i in list(ascii_lowercase)])

In [88]:
alphabets.head(3)

0    a
1    b
2    c
dtype: object

In [89]:
alphabets[0]

'a'

In [90]:
alphabets[25]

'z'

In [91]:
alphabets[:4]

0    a
1    b
2    c
3    d
dtype: object

In [92]:
alphabets[9 :12]

9     j
10    k
11    l
dtype: object

In [95]:
alphabets[-6:]

20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

## Extracting by Index Label

In [97]:
from string import ascii_uppercase

In [98]:
ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [100]:
labeled_alphabets=pd.Series({key:val for key,val in zip(list(ascii_uppercase),list(ascii_lowercase))})

In [101]:
labeled_alphabets

A    a
B    b
C    c
D    d
E    e
F    f
G    g
H    h
I    i
J    j
K    k
L    l
M    m
N    n
O    o
P    p
Q    q
R    r
S    s
T    t
U    u
V    v
W    w
X    x
Y    y
Z    z
dtype: object

In [103]:
pd.Series(list(ascii_lowercase),list(ascii_uppercase)).head(3)

A    a
B    b
C    c
dtype: object

In [104]:
lab_alp = pd.Series(list(ascii_lowercase), index=map(lambda x: 'label_'+x, list(ascii_uppercase)))

In [105]:
lab_alp.head(3)

label_A    a
label_B    b
label_C    c
dtype: object

In [106]:
lab_alp[0]

'a'

In [107]:
lab_alp['label_A']

'a'

In [108]:
lab_alp[:5]

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
dtype: object

In [116]:
lab_alp[lab_alp.index[:3]] #  first 3 alphabets

label_A    a
label_B    b
label_C    c
dtype: object

In [118]:
lab_alp[:'label_C'] # inclusive in this case

label_A    a
label_B    b
label_C    c
dtype: object

In [121]:
lab_alp['label_F':'label_J'] # inclusive in both ends

label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
dtype: object

In [122]:
lab_alp['label_U':]

label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

## add_prefix() and add_suffix() methods

In [124]:
alphabets.add_prefix('label_')

label_0     a
label_1     b
label_2     c
label_3     d
label_4     e
label_5     f
label_6     g
label_7     h
label_8     i
label_9     j
label_10    k
label_11    l
label_12    m
label_13    n
label_14    o
label_15    p
label_16    q
label_17    r
label_18    s
label_19    t
label_20    u
label_21    v
label_22    w
label_23    x
label_24    y
label_25    z
dtype: object

In [125]:
alphabets.add_suffix('_label')

0_label     a
1_label     b
2_label     c
3_label     d
4_label     e
5_label     f
6_label     g
7_label     h
8_label     i
9_label     j
10_label    k
11_label    l
12_label    m
13_label    n
14_label    o
15_label    p
16_label    q
17_label    r
18_label    s
19_label    t
20_label    u
21_label    v
22_label    w
23_label    x
24_label    y
25_label    z
dtype: object

In [126]:
# when used with series, they modify the row labwl and if used with dataframe they modify
# columns labels

In [131]:
alphabets.head()

0    a
1    b
2    c
3    d
4    e
dtype: object

In [128]:
# modification to persist

alpha_new = alphabets.add_prefix('label_')

In [130]:
alpha_new.head()

label_0    a
label_1    b
label_2    c
label_3    d
label_4    e
dtype: object

## Using the Dot Notation

In [138]:
alpha_new['label_0']

'a'

In [140]:
alpha_new.label_0 # using dot notation

'a'

In [141]:
# slicing is easy using [] notation

In [142]:
alpha_new['label_0':'label_9']

label_0    a
label_1    b
label_2    c
label_3    d
label_4    e
label_5    f
label_6    g
label_7    h
label_8    i
label_9    j
dtype: object

In [143]:
# special characters not supported by dot noation

## Boolean Masks and .loc indexes

In [168]:
import random

In [178]:
boolean_mask =[True if k%7==0 else False for k in range(len(alpha_new)) ]

In [180]:
alpha_new.loc[boolean_mask]

label_0     a
label_7     h
label_14    o
label_21    v
dtype: object

In [181]:
alpha_new.loc[boolean_mask]

label_0     a
label_7     h
label_14    o
label_21    v
dtype: object

In [184]:
alpha_new.loc['label_0':'label_9'] 

# product typical way to do label based extraction
# [] slicing supports mix of sytaxes and functions,, slower than loc

# both supports boolean masks
# need to be same lenght as series
# used to index select items at scale

label_0    a
label_1    b
label_2    c
label_3    d
label_4    e
label_5    f
label_6    g
label_7    h
label_8    i
label_9    j
dtype: object

In [164]:
act_dictionary.loc[[True,False,True]] # only retirves first and last row

leo      50
chris    47
Name: actor, dtype: int64

In [163]:
act_dictionary

leo      50
tom      53
chris    47
Name: actor, dtype: int64

## iloc

In [187]:
# supports extraction by position (interger loc)
# loc---  indexing by label

In [189]:
alpha_new.iloc[0] # 0 based

'a'

In [195]:
# faster than series slices

In [191]:
alpha_new.iloc[1:3]

label_1    b
label_2    c
dtype: object

In [192]:
alpha_new.iloc[:3]

label_0    a
label_1    b
label_2    c
dtype: object

In [194]:
alpha_new.iloc[[1,4,5]] # passing list of index position we want to extract

label_1    b
label_4    e
label_5    f
dtype: object

## using callables with .loc and .iloc

In [199]:
alpha_new.loc[lambda x: 'label_1'] # think of x as series

'b'

In [200]:
alpha_new.loc[lambda x: ['label_1','label_4']] # think of x as series

label_1    b
label_4    e
dtype: object

In [204]:
alpha_new.loc[lambda x: [True if x%3==0 else False for x in range(len(alpha_new))]] 
# think of x as series

label_0     a
label_3     d
label_6     g
label_9     j
label_12    m
label_15    p
label_18    s
label_21    v
label_24    y
dtype: object

In [208]:
def every_fifth(x):
    return [True if i%5==0 else False for i in range(x.size)]

In [209]:
alpha_new.iloc[every_fifth]

label_0     a
label_5     f
label_10    k
label_15    p
label_20    u
label_25    z
dtype: object

In [210]:
def every_fifth(x):
    return [True if (i+1)%5==0 else False for i in range(x.size)]

In [211]:
alpha_new.iloc[every_fifth]

label_4     e
label_9     j
label_14    o
label_19    t
label_24    y
dtype: object

## get() method

In [212]:
alpha_new.get('label_0')

'a'

In [213]:
alpha_new.loc['label_0']

'a'

In [214]:
alpha_new['label_0']

'a'

In [224]:
# if we try to acess the label that does not exist

# alpha_new['label_1111']

In [221]:
# better response than loc and []

alpha_new.get('label_1111',default=None)

In [220]:
alpha_new.get('label_1111',default='could not find anything by that label')

'could not find anything by that label'

In [223]:
# alpha_new.loc['label_1123']

In [226]:
alpha_new.get(0) # accessing by index position

'a'